.App {
  text-align: center;
  padding: 40px;

  .form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
      &.account {
        margin: 20px 0;
      }
    }
  }

  .listPost {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    a {
      .card {
        margin: 15px;
  
        &:hover {
          background-color: #f4f4f4;
        }
      }
    }
  }

  .showPost {
    display: flex;
    justify-content: center;
    text-align: left;
    margin: 50px 20px;

    .card {
      width:340px;  
      padding: 10px;

      .likes {
        display: flex;
        justify-content: flex-end;

        img {
          margin-left: 6px;
          width: 25px;
          cursor: pointer;
        }
      }

      .button-post {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 30%;

        button {
          margin: 8px;
        }
      }
    }
  }

  .listComments {
    .comments {
      .action-comment {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        p {
          &.delete-comment {
            font-size: 11px;
            font-style: italic;
            color: #d61414;
            cursor: pointer;
            margin: 0 6px 0 0;
          }
        }

        .like-comment {
          width: 12px;
          margin-right: 3px;
          cursor: pointer;
        }
      }

      textarea {
        height: 100px !important;
      }
    }
  }
}
